<main class="row">
<div class="col-md-6">
<h1>Find the right<br />
    mechanic for you</h1>
<p>Search our database and get connected with a local mechanic today! No need to drive around town, our mechanics will come to you.</p>
</div>
<div class="col-md-6">
    <img src="https://www.pinclipart.com/picdir/big/376-3768572_mechanical-clipart-car-repair-shop-car-mechanic-clipart.png" alt="" />
</div>
</main>
